/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');

/* Bootstrap Icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* app styling */
#app {
    

    background-color:#170217;
   
    
  }
  main {
    padding:0 !important;

  }
  
  nav {
    padding: 30px;
  }
  
  nav a {
    font-weight: bold;
    color: #2c3e50;
  }
  
  nav a.router-link-exact-active {
    color: #42b983;
  }
  /* Universal Selector */
  *,
*::before,
*::after {
margin:0;
padding: 0;
box-sizing:border-box;

}
.container-fluid {

    
}
.Title {
    text-shadow:5px 5px 10px fuchsia; 



}
:is(h1, h2) {


}
/* All Elements */
h1 ~ h2 {

    font-weight:lighter;
        }
    
        h2 {

            font-weight:lighter !important;

        }

        h3 {
          color:white;
font-weight:bold;
text-shadow:1px 1px fuchsia;

        }
        h2 {

            font-weight:lighter;
        }
:is(h1, h2, h3, h4, h5) {
    text-shadow:3px 3px 10px fuchsia; 
    color:white !important;

}
p { 

    color:white !important;
    text-shadow:0.4px 0.4px fuchsia;

}
.breaker {
   background-color:white;
    width:50%;
    height:1px;
    border:2px solid white;
    margin:auto;
    box-shadow:5px 5px 10px fuchsia;
margin-block:10px;
}
::-webkit-scrollbar {


}
/* Navbar styling */
:is(.navbar) {
background-color:transparent;
padding:0 !important;
position:absolute;

height:0;

}
.navbar-nav {
margin-left:90px !important;
margin-top:90px;
text-shadow:5px 5px 10px fuchsia;

}
a {

    text-decoration:none;
}

/* Animations */
@keyframes BoardFade {

    0% {
        background-color:#170217;
    
    }
   
    100% {
       
        background-color:#310335;
        
    }
}
@keyframes SkimageAnim {
from {

opacity:0
}
to {

opacity:1
}

}
/* Landing Page Styling */

.BG {
    background-image:url("https://richtershotline.github.io/Pimages/Images/Wallpaper.gif");
   height:100vh;
   margin:0;
   padding:0;
   background-repeat: no-repeat;
   background-size: cover;
}
.Heighter {
position:relative;
top:290px;
left:39px;
width:100%;
}
.Middle {
   height:50vh;
}
.BG:before {

    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.BG img {

    opacity:1 !important;
}


:is(.nav-link) {

    color:white;
    }
    .nav-item.nav-item.nav-item a {
 
        color:white;
        font-family: "Sedan SC", serif;
        font-style: normal;
        text-shadow:4px 4px 10px fuchsia;
    
      }    
    .nav-link:hover {

color:#9d5ea2;
text-decoration: underline;


    }
    /* image styling */
    img[alt="LandingPagePhoto"] {
        height:30rem;
                width:30rem;
                object-fit:cover;
                object-position:center;
                outline:2px solid fuchsia;
                box-shadow:5px 5px 10px fuchsia;

            
                }
                img[alt="HobPhotos"] {
                    width:23rem;
                    height:23rem;
                    margin-top:0.4rem;
                  
                  box-shadow:5px 5px 10px fuchsia;
                  outline:2px solid fuchsia;
                        
                            }
            img[alt="logo"] {
                margin-top:90px;

            width:9rem;
            object-fit:cover;
            object-position:center;
        }
            img[alt="AboutPhoto"] {
                height:20.5rem;
                        width:20.5rem;
                        object-fit:cover;
                        object-position:center;
                        outline:2px solid fuchsia;
                        box-shadow:5px 5px 10px fuchsia;
            }
            /* Media queries */
            @media only screen and (max-width: 720px) {
                .Heighter {
                    margin-top:40px !important;
                    height:90vh;
position:static;                    

                }
              
              main {


              }
                .aligner {
 display:flex;
 flex-direction:column;


                }

                .respon {


        flex-direction:column;
                }


                .abouttxt p {

                    max-width:80%;
                    text-align: justify;
                    word-wrap:normal;
                    text-justify:none;
                    word-spacing: normal;

                }
                .Hobbies {

                    flex-direction:column;
                
                }
                .Misc {
                    flex-direction:column;


                }
                .BG {

                    background-size:contain;
                    height:30vh;

                }
                .Skimages {

   display:flex;
   flex-direction:column;
                    

                }
                .Cards {

                    display:flex;
                    flex-direction:column;
                    width:1rem;

                }
                
                .Resume {

                    display:flex;
                    flex-direction:column;
                   padding:10px;
                }
               
                #MsgSender {
                    display:block;
                    
                    outline:2px solid fuchsia;
                    background-color:#170217;
                    color:#9E8BA0;
                        border-radius:7px;
                       margin:auto;
                       border:none;
                       margin-top:9px;
                       transition:0.8s;
                       text-align:center;
                       width:50%;
                       font-size:10px;
                       &:hover {
                        background-color:#251627;
                        color:white;
                    
                    }
                    }  
                .MonialImg:hover {
                
                
                
                }
                .hovering {
                 
                
                }
                
                .hovering:hover {
                
                }
                
                .hovering:hover .quota {
        
                 
                }
                
                
                .Monials {
                    
                    margin:auto;
                }
                .MonialRow {
                   padding-bottom:20px;
                
                }
                .quota {
                
                    display:block;
                    width:100%;
                    height:auto;
                    text-align:justify;
                    word-wrap:break-word;
                }
                
                .name {
                
                 width:100%;
                 word-wrap:break-word;
                 font-size:12px;
                }
                .name:hover {
                
                    color:fuchsia !important;
                   -webkit-text-stroke:0.5px rgb(246, 0, 0);
                }
            }


            /* About Styling */

            .abouttxt p {

                
       width:30rem;    
     margin:auto;
    text-align: justify;
    text-justify: inter-word;
    word-wrap: break-word;

            }
            .aligner {
                justify-content: center;
                flex-wrap:nowrap;
                display:flex;

            }
            .aligner p {
             width:85%;
            }
            .aligner img {
                width:23rem;
                height:23rem;
            }
        .Divide {

 
            border-right:3px solid white !important;
            box-shadow:
                         
        }
   .Languages {

text-align:center;

   }

/* Skills Styling */
.Skills {

    display:flex;
 


}
.Skimages {
    margin-right:1px;
    margin:auto;

}
img[alt="Skimage"] {
    height:4rem;
            width:4rem;
            object-fit:cover;
            object-position:center;
        
    
}
img[alt="Skimage"]:hover {
    outline:2px solid fuchsia;

    background-color:rgba(255, 0, 255, 0.532)

}
.SkillsCon {
    outline:3px solid fuchsia;
    box-shadow:5px 5px 10px fuchsia;
    animation: BoardFade ease 4s;
animation-iteration-count: infinite;
animation-fill-mode:forwards;
animation-direction:alternate;
    background-color:#170217;
    width:50%;
    margin:auto;
 }
 /* Education Styling */
 .Cards {

    display:flex;
    margin-left:10px;
    padding:10px;

}
    img[alt="Eduimage"] {
    
    object-fit:cover;
    height:15rem;
    width:100%
        
         
    }
.card-text {

    background-color:#170217;

}
/* Project Styling */
img[alt="Proimage"] {
  
    object-fit:cover;
    object-position:center;
    height:15rem;
    width:100%
        
         
}
.Task  {
    



}
.ProCon {

    width:90%;
    margin:auto;
}
.btnPro {

    border:none;
    
    outline:2px solid fuchsia;
    box-shadow:1px 1px 5px fuchsia;
    background-color:#170217;
    color:#9E8BA0;
    width:40%;
  margin-inline:8px;
    padding:2px;
    font-family:arial;
    transition:0.8s;
&:hover {
    background-color:#251627;
    color:white;

}

}
/* Monial Styling */

img[alt="Testimage"] {
  
    object-fit:cover;
    object-position:center;
    height:40rem;
         
}

.MonialImg:hover {



}
.hovering {
    transition: transform 1s ease;
    width: 100%;
    padding: 20px;
    opacity:1;

}

.hovering:hover {
    transform: scale(1.05);
}

.hovering:hover .quota {
    display: block;
    transition: 2s; 
 
}


.Monials {
    width:50%;
    margin:auto;
}
.MonialRow {
   padding-bottom:20px;
    width:50%;
}
.quota {
    display:none;
    opacity:0.7;
    font-size:17px;
    word-wrap:break-word;
    text-align:justify;
    
}

.name {

   

}
.name:hover {

    color:fuchsia !important;
   -webkit-text-stroke:0.5px rgb(246, 0, 0);
}
/* Reach Me Styling */
.ReachBG {

  background-color:#170217;
  outline:3px solid fuchsia;
   width:72%;
   margin:auto;

}
#ContactForm {

    width:50%;
    margin:auto;
    background-color:#170217;
    border:none;
    outline:3px solid fuchsia;
    resize:none;
    

}
#MsgSender {
display:block;

outline:2px solid fuchsia;
background-color:#170217;
color:#9E8BA0;
    border-radius:3px;
   margin:auto;
   border:none;
   margin-top:9px;
   transition:0.8s;
   text-align:center;
   width:50%;
height:40px;
&:hover {
    background-color:#251627;
    color:white;

}
}

input[type=text] {

    color:white;
    text-shadow:0.4px 0.4px fuchsia;

}
input[type=email] {

    color:white;
    text-shadow:0.4px 0.4px fuchsia;

}

input[type=number] {

    color:white;
    text-shadow:0.4px 0.4px fuchsia;

}
textarea {

    color:white;
    text-shadow:0.4px 0.4px fuchsia;

}